@import "tailwindcss";

@theme {
  --color-beer-amber: #fec310;
  --color-beer-brown: #4a312c;
  --color-beer-red: #a3311e;
  --color-beer-blue: #008cc9;
  --color-beer-cream: #f9f4e8;
  --color-beer-background: #fffcf5;
  
  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-beer-background text-beer-brown font-body;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold text-beer-brown;
  }
}
